/* Theme colors */
// If we want these variables to be extendable i.e., overideable, we'd have to add the
// !default command to it jsut like we use !important.
// Infact, if this is an open-source library, the users should be able to change every variable.
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

/* In scss, we can collect values together using maps.
  A map is like an object in javascript only in this case, we replace
  the curly braces with the regular bracket. */

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

/* To get a value from our scss map, we use the 
built-in map-get() function. We simply specify the name of the map
we wish to access and then the key whose value we requrie */
@debug map-get($colors, "purple");
@debug map-remove($colors, "primary");
@debug map-merge(
  $colors,
  (
    "pink": "#ffc0cb",
  )
);

.test-btn {
  background-color: map-get($colors, "purple");
}

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
